{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Style</th>
        <th>Method</th>
        <th>SRM/EBC</th>
        <th>IBU</th>
        <th>ABV</th>
        <th>Medals</th>
    </thead>
    <tbody>
        {% for batch in batches %}
            <tr>
                <td><a href="{{ path('brewblogger_core_batch_show', {'id': batch.id}) }}">{{batch.Name}}</a></td>
                <td>{{batch.Date|date('F d,Y')}}</td>
                <td>{{batch.Style}}</td>
                <td>{{batch.Method}}</td>
                <td>{{batch.Lovibond}}</td>
                <td>{{batch.Bitterness}}</td>
                <td>{{batch.ABV}}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_granted('ROLE_USER') %}
<a class="btn pull-right" href="{{ path('brewblogger_core_batch_new') }}"><i class="icon-plus"></i> Create New Batch</a>
{% endif %}
{% endblock %}