<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/batches">BrewBlogger</a>
              {{ knp_menu_render('BrewBloggerCoreBundle:MainNav:main', {'nav_type': 'navbar'}) }}
            </div>
          </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
                
        {% block body %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
