<fieldset>
    <legend>General Information</legend>
    {{ form_row(form.name) }}
    {{ form_row(form.batchnum) }}
    {{ form_row(form.featured) }}
    {{ form_row(form.archive) }}
    {{ form_row(form.style) }}
    {{ form_row(form.yield) }}
    {{ form_row(form.method) }}
    {{ form_row(form.condition) }}
    {{ form_row(form.date) }}
    {{ form_row(form.tapdate) }}
    {{ form_row(form.status) }}
    {{ form_row(form.cost) }}
    {{ form_row(form.info) }}
    {{ form_row(form.comments) }}
</fieldset>
<fieldset class="collection-manager" data-prototype="{% filter escape() %}{{ include('BrewBloggerCoreBundle:Form:extract.html.twig', {'extract' : form.extracts.vars.prototype}) }}{% endfilter %}">
    <legend>Malt Extracts</legend>
    <div class="collection-container">
    {% for extract in form.extracts %}
    {% include 'BrewBloggerCoreBundle:Form:extract.html.twig' %}
    {% endfor %}
    </div>
    <button class="btn btn-success pull-right collection-add"><i class="icon-plus icon-white"></i>Add Extract</button>
</fieldset>
<fieldset class="collection-manager" data-prototype="{% filter escape() %}{{ include('BrewBloggerCoreBundle:Form:grains.html.twig', {'grain' : form.grains.vars.prototype}) }}{% endfilter %}">
    <legend>Grains</legend>
    <div class="collection-container">
    {% for grain in form.grains %}
    {% include 'BrewBloggerCoreBundle:Form:grains.html.twig' %}
    {% endfor %}
    </div>
    <button class="btn btn-success pull-right collection-add"><i class="icon-plus icon-white"></i>Add Grain</button>
</fieldset>
<fieldset class="collection-manager" data-prototype="{% filter escape() %}{{ include('BrewBloggerCoreBundle:Form:adjunct.html.twig', {'adjunct' : form.adjuncts.vars.prototype}) }}{% endfilter %}">
    <legend>Adjuncts</legend>
    <div class="collection-container">
    {% for adjunct in form.adjuncts %}
    {% include 'BrewBloggerCoreBundle:Form:adjunct.html.twig' %}
    {% endfor %}
    </div>
    <button class="btn btn-success pull-right collection-add"><i class="icon-plus icon-white"></i>Add Adjunct</button>
</fieldset>
<fieldset class="collection-manager" data-prototype="{% filter escape() %}{{ include('BrewBloggerCoreBundle:Form:misc.html.twig', {'misc' : form.MiscIngredients.vars.prototype}) }}{% endfilter %}">
    <legend>Miscellaneous (NON-Fermentable Ingredients)</legend>
    <div class="collection-container">
    {% for misc in form.MiscIngredients %}
    {% include 'BrewBloggerCoreBundle:Form:misc.html.twig' %}
    {% endfor %}
    </div>
    <button class="btn btn-success pull-right collection-add"><i class="icon-plus icon-white"></i>Add Miscellaneous</button>
</fieldset>
    <fieldset class="collection-manager" data-prototype="{% filter escape() %}{{ include('BrewBloggerCoreBundle:Form:hops.html.twig', {'hop' : form.Hops.vars.prototype}) }}{% endfilter %}">
    <legend>Hops</legend>
    <div class="collection-container">
    {% for hop in form.Hops %}
    {% include 'BrewBloggerCoreBundle:Form:hops.html.twig' %}
    {% endfor %}
    </div>
    <button class="btn btn-success pull-right collection-add"><i class="icon-plus icon-white"></i>Add Hop</button>
</fieldset>
<fieldset class="form-inline">
    <legend>Bitterness</legend>
    {{ form_row(form.bitterness) }}
    {{ form_row(form.ibuformula) }}
</fieldset>
<fieldset>
    <legend>Color</legend>
    {{ form_row(form.lovibond) }}
    {{ form_row(form.colorformula) }}
</fieldset>
<fieldset>
    <legend>Water</legend>
    {{ form_row(form.waterProfile) }}
</fieldset>
<fieldset>
    <legend>Equipment</legend>
    {{ form_row(form.EquipmentProfile) }}
</fieldset>
<fieldset>
    <legend>Mash</legend>
    {{ form_row(form.mashProfile) }}
    {{ form_row(form.waterratio) }}
    {{ form_row(form.preboilamt) }}
    {{ form_row(form.mashgravity) }}
</fieldset>
<fieldset>
    <legend>Boil</legend>
    {{ form_row(form.boiltime) }}
</fieldset>
<fieldset class="form-inline">
    <legend>Yeast</legend>
    {{ form_row(form.yeastProfile) }}
    {{ form_row(form.yeastamount) }}
</fieldset>
<fieldset>
    <legend>Gravity</legend>
    <div class="span12">
        <div class="span2">
        {{ form_row(form.og) }}
        </div>
        <div class="span2">
        {{ form_row(form.targetog) }}
        </div>
        <div class="span2">
        {{ form_row(form.fg) }}
        </div>
        <div class="span2">
        {{ form_row(form.targetfg) }}
        </div>
    </div>
    <div class="span12">
        <div class="span2">
        {{ form_row(form.gravity1) }}
        </div>
        <div class="span2">
        {{ form_row(form.gravity1days) }}
        </div>
        <div class="span2">
        {{ form_row(form.gravity2) }}
        </div>
        <div class="span2">
        {{ form_row(form.gravity2days) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Procedure</legend>
    {{ form_row(form.procedure) }}
    {{ form_row(form.specialprocedure) }}
</fieldset>
<fieldset>
    <legend>Fermenting, Lagering, and Aging</legend>
    {{ form_row(form.primarydays) }}
    {{ form_row(form.primarytemp) }}
    {{ form_row(form.secondarydays) }}
    {{ form_row(form.secondarytemp) }}
    {{ form_row(form.tertiarydays) }}
    {{ form_row(form.tertiarytemp) }}
    {{ form_row(form.lagerdays) }}
    {{ form_row(form.lagertemp) }}
    {{ form_row(form.agedays) }}
    {{ form_row(form.agetemp) }}
</fieldset>
<fieldset>
    <legend>Label Image</legend>
    {{ form_row(form.labelimage) }}
</fieldset>
<fieldset>
    <legend>Related Links</legend>
    {{ form_row(form.link1name) }}
    {{ form_row(form.link1) }}
    {{ form_row(form.link2name) }}
    {{ form_row(form.link2) }}
</fieldset>
{{ form_rest(form) }}
