<div class="span12 collection-item">
<div class="span2">
    {{ form_row(hop.name) }}
</div>
<div class="span1">
    {{ form_row(hop.weight) }}
</div>
<div class="span1">
    {{ form_row(hop.alphaAcid) }}
</div>
<div class="span1">
    {{ form_row(hop.time) }}
</div>
<div class="span2">
    {{ form_row(hop.use) }}
</div>
<!-- I don't think this is really needed 
<div class="span2">
    {{ form_row(hop.purpose) }}
</div>
-->
<div class="span2">
    {{ form_row(hop.form) }}
</div>
<div class="span1">
    <button class="btn btn-danger collection-remove"><i class="icon-remove icon-white"></i></button>
</div>
</div>